   <footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">My App</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <strong style="font-size:20px" class="white-text">Contact Developer ( Krish Bhardwaj )</strong>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Linkdin</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            </div>
          </div>
        </footer>